* {
    outline: 1px solid red !important;
}

body {
    font-family: roboto;
}

    .container-top {
        background-color: #1f2937;
        display: flex;
        flex-direction: column;
    }

        #awesome, .logo {
            color: #f9faf8;
            font-size: 48px;
            font-weight:bolder;
        }

        #subtext, .links, .topright {
            color: #e5e7eb;
            font-size: 18px;
        }

        .logo {
            font-size: 24px;
        }

        .topmenu {
            display: flex;
            justify-content: space-between;
            
        }

            .logo {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 350px;
                padding-top: 20px;
                padding-bottom: 20px;
                
            }

            .nav {
                display: flex;
                padding-right: 350px;
            }

                li {
                    list-style: none;
                    margin: 10px;
                    padding: 5px;
                }

